<template>
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-header text-center">
                <h3>{{ game_name }}</h3>
            </div>
            <div class="card-body">
                <div class="form-inline col-md-4" v-if="id_user_creator === id_user">
                    <input type="text" class="form-control" v-model="playerOne">
                    <a href="/home" class="btn btn-primary">Volver</a>
                </div>

                <div class="form-inline col-md-4" v-else>
                    <input type="text" class="form-control" v-model="playerTwo">
                    <a href="/home" class="btn btn-primary">Volver</a>
                </div>

                <div class="form-inline col-md-12 mt-4">
                    <h5>{{playerOne}}</h5> <span class="badge mr-3" v-if="id_player_one !== null" style="color:#008000">X</span> <span v-else class="badge" style="color:#008000">Х</span>
                    <h5>{{playerTwo}}</h5> <span class="badge mr-3" v-if="id_player_two !== null" style="color:#008000">O</span> <span v-else class="badge" style="color:#008000">O</span>
                </div>
                
                <div v-if="id_player_one !== null && id_player_two !== null">
                    <div v-show="turn_player === id_user ? true : false || started && game.over">
                        <div style="margin-left:25%" id='main' v-if='started && !game.over'>
                            <table id='board'>
                                <tr v-for='(row, key) in board' :key="key">
                                    <td v-for='(box, key) in row' :key="key">
                                        <div class='square' @click='router(box)' :class='{"square active": box.bg}'>
                                            {{box.val}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>                    
                    <div v-show="turn_player !== id_user ? true : false">
                        <div class="alert alert-primary" role="alert">
                            Espera Mientras tu oponente Juega
                        </div>
                    </div>                 
                </div>
                <div v-else>
                    <div class="alert alert-primary" role="alert">
                        Espera Mientras tu oponente se conecta
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div v-if='started && game.over'>                    
                    <h1 v-if='!game.draw'><span>{{game.winner}}</span> Gana!</h1>
                    <h1 v-if='game.draw'><span>Empate</span></h1>
            
                    <button class="btn bt-primary" v-on:click='init'>Jugar de Nuevo</button>
                </div>
            </div>
        </div>    
    </div>    
</template>
<script>
import firebase from '../conectionBD/conection';

export default {
    props:['id_user','id_room'],
    data(){
        return{
            game_name:null,
            id_user_creator:null,
            playerOne: 'Jugador 1',
            playerTwo: 'Jugador 2',
            id_player_one: null,
            id_player_two: null,
            id_room_firebase: null,


            started: false,            
            mode: '',
            run: false,

            turn: 'X',

            markers: {
                player: '',
                computer: ''
            },

            game: {
                over: false,
                winner: '',
                draw: false,
            },

            board: [
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}]
            ],

            windex: [
                [[0,0], [0,1], [0,2]],
                [[1,0], [1,1], [1,2]],
                [[2,0], [2,1], [2,2]],
                [[0,0], [1,0], [2,0]],
                [[0,1], [1,1], [2,1]],
                [[0,2], [1,2], [2,2]],
                [[0,0], [1,1], [2,2]],
                [[0,2], [1,1], [2,0]]
            ],            
        }
    },

    computed: {
        arr() {
            return this.board.map(x => x.map( y => y.val));
        },

        winArr() {
            return this.windex.map(x => x.map( y => this.board[y[0]][y[1]].val));
        },

        check(){
            const board = this.arr;
            const windex = this.winArr;
            const draw = this.arr.every(x => x.every(y => y != ''));

            const checkWin = windex.forEach((x,ind) => {
                const vector = this.windex[ind];
                let over = false;

                if(x.every(y => y == 'X')){
                    this.game.winner = 'X';
                    over = true;
                }

                if(x.every(y => y == 'O')){
                    this.game.winner = 'O';
                    over = true;
                }

                if(draw && this.game.winner == ''){
                    this.game.draw = true;
                    over = true;
                }

                if(over){
                    this.run = false;
                    this.setWin(vector);
                }
            });

            let setData = firebase.ref(`room-${this.id_room}`).child(`${this.id_room_firebase}`);
            setData.update({
                board: this.board,
                windex: this.windex,
                mode: this.mode,
                game: this.game,
                started: this.started,
                run: this.run,
                turn: this.turn,
                turn_player: this.turn === 'X' ? this.id_player_one : this.id_player_two
            });
        },

        AIWinMove(){
            let move = '';
            const board = this.board;
            const combos = this.winArr;
            const AI = this.markers.computer;
            const AIStr = AI.repeat(3);
            combos.forEach((x,ind) => {
                if(x.join('') + AI === AIStr){
                    let row = combos[ind];
                    let col = row.indexOf('');
                    let index = this.windex[ind][col];
                    let box = board[index[0]][index[1]];
                    move = box;
                }
            });
            return move;
        },

        AIBlockMove(){
            let move = '';
            const board = this.board;
            const combos = this.winArr;
            const player = this.markers.player;
            const playStr = player.repeat(3);
            combos.forEach((x,ind) => {
                if(x.join('') + player === playStr){
                    let row = combos[ind];
                    let col = row.indexOf('');
                    let index = this.windex[ind][col];
                    let box = board[index[0]][index[1]];
                    move = box;
                }
            });
            return move;
        },

        randomMove(){
            const board = this.board;
            let counter = 0;
            const recurse = () => {
                if(counter == 8) return;
                counter++;
                let row = Math.floor(Math.random() * 2);
                let col = Math.floor(Math.random() * 2);
                if(board[row][col].val == ''){
                    return board[row][col];
                } else
                    return recurse();
            };
            return recurse();
        },

        AI(){
            const win = this.AIWinMove;
            const block = this.AIBlockMove;
            const random = this.randomMove;

            if(win != '')
                return win
            else if(win == '' && block != '')
                return block
            else
                return random
        }
    },//COMPUTED
    
    mounted(){
        this.getData();       
    },

    beforeMount() {
        // Configurar el temporizador, actualizar cada 3 segundos
        setInterval(this.loadDataRealTime(),1000)
    },

    watch:{
        playerOne:function(newVal){
            if(newVal){
               this.setAliassesP1(); 
            }
        },

        playerTwo:function(newVal){
            if(newVal){
               this.setAliassesP2(); 
            }
        },

        id_room_firebase:function(newVal){
            if(newVal){
                this.init();
            }
        }
    },

    methods:{
        loadDataRealTime(){
            firebase.ref(`room-${this.id_room}`).on('value', (snapshot)=>{            
                snapshot.forEach((el)=>{
                    this.board = el.val().board;
                    this.windex = el.val().windex;
                    // this.mode = el.val().mode;
                    this.game = el.val().game;
                    // this.started = el.val().started;
                    // this.run = el.val().run;
                    this.turn = el.val().turn;
                    this.turn_player = el.val().turn_player ? el.val().turn_player : el.val().id_player_one
                })
            })
        },
        getData(){
            // Funcion firebase para guardar y obtener datos en tiempo real
            firebase.ref(`room-${this.id_room}`).on('value', (snapshot)=>{            
                snapshot.forEach((el)=>{
                    this.id_player_one = el.val().id_player_one;
                    this.id_player_two = el.val().id_player_two;   
                    this.playerOne = el.val().aliass_player_one ? el.val().aliass_player_one : 'Jugador 1';
                    this.playerTwo = el.val().aliass_player_two ? el.val().aliass_player_two : 'Jugador 2';
                    this.id_room_firebase = el.key;
                    this.turn = el.val().turn ? el.val().turn : 'X'; 
                })
            })

            // Se consulta el nombre del juego y el usuario creador para poder configurar el jugador 1 y jugador 2
            axios.get(`/roomGame/${this.id_room}`).then((response)=>{            
                this.game_name = response.data.room_name;
                this.id_user_creator = response.data.id_user_creator;
            });                        
        },
        // Funcion para actualizar el alias que el jugador elija
        setAliassesP1(){
            let setData = firebase.ref(`room-${this.id_room}`).child(`${this.id_room_firebase}`);
            setData.update({
                aliass_player_one: this.playerOne
            });
        },
        
        // Funcion para actualizar el alias que el jugador elija
        setAliassesP2(){
            let setData = firebase.ref(`room-${this.id_room}`).child(`${this.id_room_firebase}`);
            setData.update({
                aliass_player_two: this.playerTwo
            });
        },


        init(){
            this.reset();
            this.mode = 'player';
            this.start();
        },

        start(){
            this.run = true;
            this.started = true;

            this.board = [
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}]
            ],

            this.windex = [
                [[0,0], [0,1], [0,2]],
                [[1,0], [1,1], [1,2]],
                [[2,0], [2,1], [2,2]],
                [[0,0], [1,0], [2,0]],
                [[0,1], [1,1], [2,1]],
                [[0,2], [1,2], [2,2]],
                [[0,0], [1,1], [2,2]],
                [[0,2], [1,1], [2,0]]
            ]

            let setData = firebase.ref(`room-${this.id_room}`).child(`${this.id_room_firebase}`);
            setData.update({
                run: true,
                started: true,
                board: [
                    [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                    [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                    [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}]
                ],
                windex: [
                    [[0,0], [0,1], [0,2]],
                    [[1,0], [1,1], [1,2]],
                    [[2,0], [2,1], [2,2]],
                    [[0,0], [1,0], [2,0]],
                    [[0,1], [1,1], [2,1]],
                    [[0,2], [1,2], [2,2]],
                    [[0,0], [1,1], [2,2]],
                    [[0,2], [1,1], [2,0]]
                ]
            });
        },

        reset(){
            this.mode = '';
            this.run = false;
            this.game.over = false;
            this.game.winner = '';
            this.game.draw = false;

            this.board.forEach(x => {
                x.map(y => {y.val = ''; y.bg = ''})
            });

            let setData = firebase.ref(`room-${this.id_room}`).child(`${this.id_room_firebase}`);
            setData.update({
                mode: '',
                run: false,
                game: this.game
            });


        },

        router(box){
            if(this.mode == 'player')
                this.mark(box);
        
            if(this.mode == 'computer' && box.val == ''){
                this.mark(box);
                setTimeout(() => {
                this.mark(this.AI);
                }, 300)
            }
        },

        mark(box){
            const run = this.run;

            if(box.val == '' && run){
                box.val = this.turn;
                this.turn = this.turn == 'X' ? 'O' : 'X';
                this.check;
            }
        },

        setWin(vector){
            if(!this.game.draw){
                vector.forEach( x => {
                    this.board[x[0]][x[1]].bg = 'active'
                })
            }
                    
            setTimeout(() => {
                this.game.over = true;
            }, 500)
        }
    }
}
</script>
<style lang="scss" scoped>

$primary: #6C7A89;
$secondary: #00B16A;

$main: 'Oswald', sans-serif;

* {
	user-select: none
}

.center {
  position: unset;
  top: 50%; left: 50%;  
}

span {
  color: $secondary;
}

//<----Modal---->//
.modal-mask {
	position: absolute;
	z-index: 9998;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba($primary,.5);
	transition: opacity .3s ease;
}

.modal-container {
	@extend .center;
	width: 80%;
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}

.modal-body {
	font-family: $main;
	color: black;
	font-size: 8vw;
	margin: 0;
	width: 100%;
	text-align: center;
	background: $primary;
	color: white;
}

.select_marker {
  cursor: pointer;
}
//<----/Modal---->//

#welcome {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: $primary;
}

.titleBlock {
  @extend .center;
  color: white;
  font-family: $main;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  h1 {
    font-size: 100px;
	width: 100%;
  }
  .mode {
    font-size: 50px;
    cursor: pointer;
  }
}

#board {
  @extend .center;
  border-collapse: separate;
  border-spacing: 2px;
}

td {
	vertical-align: middle;
}

.square {
  width: 15vw;
  height: 11vw;
  background: $primary;
  cursor: pointer;
  font-family: $main;
  font-size: 6vw;
  line-height: 11vw;
  text-align: center;
  color: white;
  &:hover {
    opacity: .8;
  }
  &.active {
    background: $secondary;
  }
}

#reset {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: $primary;
}


</style>