<template>
    <!-- Modal -->
    <div class="modal fade" id="createRoom" tabindex="-1" role="dialog" aria-labelledby="createRoomLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomLabel">Ceación de sala</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputCode">Ingresa el Nombre de la Sala</label>
                        <input id="inputCode" v-model="room_name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputCode">Ingresa el Codigo de la sala</label>
                        <input id="inputCode" v-model="code_game" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"  @click="saveRoom()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div> 
</template>
<script>
import firebase from '../conectionBD/conection';
export default {
    props:['user','getData'],
    data(){
        return{
            room_name:null,
            code_game:null,
        }
    },
    mounted() {
        
    },
    methods:{
        saveRoom(){
            axios.post('roomGame',{
                room_name:this.room_name,
                code_game:this.code_game,
                id_user_creator:this.user.id,
            }).then((response)=>{  
                let room = firebase.ref(`room-${response.data.id}`).push();                
                room.set({
                    room_name: this.room_name,
                    id_room: response.data.id,
                    id_player_one: response.data.id_user_creator,
                    player_two: null,
                    code_room:this.code_game,
                    aliass_player_one: 'Jugador 1',
                    aliass_player_two: 'Jugador 2',
                    game: {
                        over: false,
                        winner: '',
                        draw: false,
                    },
                    board: [
                        [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                        [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}],
                        [{val:'',bg:''}, {val:'',bg:''}, {val:'',bg:''}]
                    ],

                    windex: [
                        [[0,0], [0,1], [0,2]],
                        [[1,0], [1,1], [1,2]],
                        [[2,0], [2,1], [2,2]],
                        [[0,0], [1,0], [2,0]],
                        [[0,1], [1,1], [2,1]],
                        [[0,2], [1,2], [2,2]],
                        [[0,0], [1,1], [2,2]],
                        [[0,2], [1,1], [2,0]]
                    ],
                })

                setTimeout(()=>{
                    toastr.success('Sala Creada');
                    this.getData();
                    $('#createRoom').modal('hide');
                    window.location = `/game/${response.data.id_user_creator}/${response.data.id}`
                },1000)
            }).catch((error)=>{
                toastr.info('Intenta de nuevo mas tarde');
                console.log(error);
            })
        }
    }
}
</script>