<template>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Tic Tac Toe</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#createRoom">Crear Sala</button>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sala</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody v-for="(room, key) in data" :key="key">
                                <tr v-if="room.status === 1">
                                    <td>{{room.room_name}}</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" v-on:click="getIdRoom(room.id)" data-target="#exampleModal">Unirme</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li :class="current_page === 1 ? 'page-item disabled': 'page-item'" v-on:click="getLastPage">
                                <a class="page-link" tabindex="-1">Previous</a>
                            </li>
                            
                            <li class="page-item disabled">
                                <a class="page-link">{{current_page}}</a>
                            </li>
                            
                            <li :class=" current_page === last_page ? 'page-item disabled': 'page-item'" v-on:click="getNextPage">
                                <a class="page-link" tabindex="-1">Next</a>
                            </li>
                        </ul>
                        </nav>
                </div>
            </div>
        </div>       
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ingreso a sala</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputCode">Ingresa el codigo de la sala</label>
                            <input id="inputCode" v-model="codeRoom" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" v-on:click="codeValidation">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div> 
        <create-room-component :user="user" :getData="getData"></create-room-component>
    </div>
</template>

<script>
    import firebase from '../conectionBD/conection';
    export default {
        props:['user'],
        data(){
            return{
                codeRoom:null,
                current_page:null,
                last_page:null,
                data: [],
                id_room_firebase:null,
                aliassName:null,
                id_room:null
            }
        },
        mounted() { 
            this.getData();                 
        },
        beforeUpdate() {            
            setInterval(this.getData(),1000)
        },
        methods:{
            getData(){
                axios.get('roomGame').then((response)=>{
                    this.current_page = response.data.current_page;
                    this.last_page = response.data.last_page;                
                    this.data = response.data.data;                    
                })
            },
            codeValidation(){
                axios.get(`validationCode/${this.codeRoom}`).then((response)=>{   
                    console.log(response.data.room_name);                 
                    if(response.data.room_name){
                        const dataFire = firebase.ref(`room-${this.id_room}`);
                        dataFire.on('value', (snapshot)=>{                              
                            snapshot.forEach((el)=>{                    
                                let id_room_firebase = el.key;                                       
                                let setData = firebase.ref(`room-${this.id_room}`).child(`${id_room_firebase}`);                                
                                setData.update({
                                    aliass_player_two: 'Jugador 2',
                                    id_player_two: this.user.id
                                });

                            })
                        })

                        axios.put(`roomGame/${this.id_room}`,{
                            status: 0
                        });                        

                        setTimeout(() => {
                            window.location = `/game/${this.user.id}/${this.id_room}`
                        },1000)                        
                    }else{
                        toastr.info('El codigo no se encuentra')
                    }
                })
                console.log();
            },
            getIdRoom(id_room){
                this.id_room = id_room
            },
            getLastPage(){
                let lastPage = this.current_page - 1;
                
                axios.get(`roomGame?page=${lastPage}`).then((response)=>{
                    this.data = response.data.data;
                    this.current_page = response.data.current_page;
                })
            },

            getNextPage(){
                let lastPage = this.current_page + 1;                
                axios.get(`roomGame?page=${lastPage}`).then((response)=>{
                    this.data = response.data.data;  
                    this.current_page = response.data.current_page;                  
                })
            }
        }
    }
</script>
